<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
      <!-- <script src="main.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>       -->
   </head>
   <body>
      <h1>Smart AI dashboard</h1>
      <h2>wifi connect</h2>
      <button id="button" class="" onclick="location.href='http://smart-ai.local:5000/wifi'">
         wifi lists
      </button>
      <button id="button" class="" onclick="location.href='http://smart-ai.local:5000/wifi0'">
         wifi lists
      </button>
   </body>
</html>